body {
    background: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

header, footer {
    background:lightgrey;
    margin: auto 0;
    text-align: center;
    height: 20vh;
    font-size:medium;
    font-family: 'Courier New', Courier, monospace;
    color: darkslategrey;
    line-height:1;
}

a {
    text-decoration: none;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkslategrey;
    padding: 20px;
    line-height: 2.5;
    /* probably switch to flex box later */
}

main {
    color: darkslategray;
    min-height: 70vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}